root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,config}]
ij_xml_space_inside_empty_tag = true
indent_style = space
indent_size = 2

[*.{slnx,yml}]
indent_style = space
indent_size = 2
